{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": 8
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}