{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "shared-node-browser": true,
    "mocha": true
  },
  "globals": {
    "Class": true
  },
  "rules": {
    "space-before-function-paren": [
      2,
      {
        "anonymous": "ignore",
        "named": "never"
      }
    ],
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-spaced-func": 2,
    "quote-props": [
      2,
      "as-needed"
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "yoda": [
      2,
      "never"
    ],
    "no-with": 2,
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-multiple-empty-lines": 2,
    "no-multi-str": 2,
    "one-var": [
      2,
      "never"
    ],
    "comma-spacing": [
      2,
      {
        "before": false
      }
    ],
    "semi-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "wrap-iife": 2,
    "comma-style": [
      2,
      "last"
    ],
    "space-infix-ops": 2,
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "eol-last": 2,
    "dot-notation": 2,
    "keyword-spacing": [
      2,
      {}
    ],
    "lines-around-comment": [
      2,
      {
        "beforeLineComment": true
      }
    ],
    "consistent-this": [
      2,
      "_this"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "curly": [
      2,
      "all"
    ],
    "spaced-comment": [
      2,
      "always"
    ],
    "array-bracket-spacing": [
      2,
      "never",
      {
        "singleValue": true
      }
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "arrow-parens": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
